<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Login</title>
        <link rel="icon" type="image/png" href="/app-icon.png" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" />

        <script src="/jquery-3.6.0.min.js"></script>
        <style>
            body {
                background-color: #ece9e9;
                font-family: "Montserrat", sans-serif;
                color: #fff;
                font-size: 14px;
                letter-spacing: 1px;

                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
            }

            .container {
                background-color: #ac0813;
                background-size: cover;
                box-shadow: 0px 30px 60px -5px #000;

                padding: 20px;
                border-radius: 8px;

                width: 90%;
                max-width: 400px;
            }

            .login-form h2 {
                text-align: center;
                margin-bottom: 20px;
            }

            .input-group {
                margin-bottom: 15px;
            }

            .input-group label {
                display: block;
                margin-bottom: 5px;
            }

            .input-group input {
                width: 95%;
                padding: 10px;

                border-radius: 20px;
                background: rgba(255, 255, 255, 0.1);
                border: 2px solid rgba(255, 255, 255, 0);
            }
            hr {
                border: 1px solid rgba(255, 255, 255, 0.1);
                top: 85px;
            }

            .nonactive {
                color: rgba(255, 255, 255, 0.2);
            }
            .signin {
                background-color: #ac0813;
                color: #fff;
                width: 100%;
                padding: 10px 20px;
                display: block;
                height: 39px;
                border-radius: 20px;
                margin-top: 30px;
                transition: all 0.5s ease-in-out;
                border: none;
                text-transform: uppercase;
                font-size: 20px;
            }

            .signin:hover {
                background: #a4040e;
                box-shadow: 0px 4px 35px -5px #a4040e;
                cursor: pointer;
            }

            #message {
                text-transform: uppercase;
            }

            .signin:focus {
                outline: none;
            }

            input[type="text"],
            input[type="password"] {
                font-family: "Montserrat", sans-serif;
                color: #fff;
            }

            /* Responsive Design */
            @media (max-width: 600px) {
                .container {
                    padding: 15px;
                }

                .login-form h2 {
                    font-size: 1.5em;
                }
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h2 class="active">LOGIN FORM</h2>
            <hr width="150px" style="margin-left: 0%; margin-top: -1%;" />
            <br />
            <br />
            <form class="login-form" action="/authenticate" method="post">
                <div class="input-group">
                    <label for="username">USERNAME</label>
                    <input type="text" id="username" name="username" />
                </div>
                <br />

                <div class="input-group">
                    <label for="password">PASSWORD</label>
                    <input type="password" id="password" name="password" />
                </div>
                <br />
                <div class="input-group">
                    <h2 id="message"></h2>
                    <input type="hidden" name="redirect" value=<%=redirect%> />
                </div>
                <hr/>
                <button id="signin-button" class="signin">
                    Sign In
                </button>
            </form>
        </div>
        <script>
            $(document).ready(function () {
                var $form = $("form");
                $form.submit(function () {
                    $.post(
                        $(this).attr("action"),
                        $(this).serialize(),
                        function (response) {
                            if (response.status == "success") {
                                window.location.href = response.redirect;
                            }
                        },
                        "json"
                    ).fail(function (error) {
                        document.getElementById("message").innerText = error.responseText;
                        console.log(error);
                    });

                    return false;
                });
            });
        </script>
    </body>
</html>
