<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head'); %>
</head>
<body>

  <%- include('../partials/navbar'); %>

<div id="order-confirmation" style="padding-left:16px">
  <h1>Order Confirmed!</h1>
  <p data-id="ordernumber">Order Number: <%=orderNumber%></p>
</div>
<hr>

</body>